body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #222;
    color: #fff;
    padding: 0px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #45a049;
}

main {
    padding: 20px;
}

a {
    text-decoration: none;
}
.product-card {
    box-shadow: 0 2px 7px #111;
    background: #222;
}
.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 50px;
    background: #222;
}
.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}
.product-details {
    padding: 30px;
}
.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}
.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.product-details h4 a:hover {
    color: #45a049;
}
.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}
.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.product-bottom-details div {
    float: left;
    width: 50%;
}
.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}
.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}
.product-links {
    text-align: right;
}
.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}
.product-links a:hover {
    color: #45a049;
}